extends layout

block header
	a(id='nfmlogo') nfm
	a(id='github', href='https://github.com/chronize/nfm')
		i(id='github', class='fa-github')  Github

block content
	div(id='menu')
		div(class='item') File
		div(class='item') Edit
		div(class='item') Code
		div(class='item') View
	div(id='explorer')
		div(id='exquick')
			div(id='root', class='quick')  
			div(id='up', class='quick') 
		div(id='exfs')
	div(id='separator')
	div(id='viewport')

block footer
	div(id='logbar')
