headline = 15px
headpadding = 15px
headborder = 2px
headheight = 2 * headpadding + headline + headborder

footborder = 1px
footheight = 20px + footborder

menuheight = 20px

explorerquickheight = 20px
explorerquickborder = 1px

explorerwidth = 250px
separatorwidth = 1px

nicegreen = #29c566
niceblue = #00a0f0
nicewhite = #f0f0f0

@font-face
	src url('/fonts/gubblebum.ttf')
	font-family 'Gubblebum'

transition(rate)
	-webkit-transition rate ease-in
	-khtml-transition rate ease-in
	-moz-transition rate ease-in
	-ms-transition rate ease-in
	-o-transition rate ease-in
	transition rate ease-in

noselect()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

box-sizing(sizing)
	-webkit-box-sizing sizing
	-khtml-box-sizing sizing
	-moz-box-sizing sizing
	-ms-box-sizing sizing
	-o-box-sizing sizing
	box-sizing sizing

html, body
	margin 0 auto
	padding 0
	background #202020
	color nicewhite
	font 15px 'Source Sans Pro', sans-serif

*
	outline none
	noselect()
	box-sizing border-box
	cursor default

i, .item:before, .quick
	font-family 'FontAwesome'
	font-style normal

.item:before, .quick
	font-size 14px

a
	text-decoration none

#header, #content, #footer
	position fixed
	left 0
	right 0

#header
	top 0
	height headheight
	background #202020
	border-bottom headborder solid #282828
	a
		padding headpadding
		color nicegreen
		background #202020
		display inline-block
		height 100%
		line-height headline
		transition .05s
		&:hover
			color nicewhite
			background #282828
		&:active
			color #7dcb9b
			background #181818

#content
	top headheight
	bottom footheight

#footer
	bottom 0
	height footheight
	border-top footborder solid nicegreen
	background #101010

#nfmlogo
	float left
	font-family 'Gubblebum', Monospace
	font-size 30px

#github
	float right

#menu
	height menuheight
	background #181818
	.item
		display inline-block
		line-height 8px
		padding 6px
		color nicewhite
		transition .05s
		&:hover
			background #202020
		&:active
			color #7dcb9b
			background #101010

#explorerquick
	position absolute
	top menuheight
	left 0
	width explorerwidth
	height explorerquickheight
	background #101010

#explorer
	position absolute
	top menuheight + explorerquickheight + explorerquickborder
	left 0
	bottom 0
	width explorerwidth
	background #101010
	.mCSB_container
		width 100%

#separator
	position absolute
	top menuheight
	left explorerwidth
	bottom 0
	width separatorwidth
	background nicegreen
	cursor ew-resize

#viewport
	position absolute
	top menuheight
	left explorerwidth + separatorwidth
	right 0
	bottom 0
	display inline-block
	background #141414

.quick
	display inline-block
	height explorerquickheight
	line-height 4px
	padding 8px
	transition .05s
	&:hover
		background #181818
	&:active
		color #7dcb9b
		background #101010

.item
	padding 4px
	transition .1s
	&:hover
		background #181818

.folder:before
	content ' '

.file:before
	content ' '

