@font-face {
  src: url("/fonts/gubblebum.ttf");
  font-family: 'Gubblebum';
}
html,
body {
  margin: 0 auto;
  padding: 0;
  background: #282828;
  color: #f0f0f0;
  font: 15px 'Source Sans Pro', sans-serif;
}
* {
  outline: none;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  background: #202020;
  width: 100%;
}
#logo {
  font: 60px 'Gubblebum', Monospace !important;
  padding: 5px 17px 5px 10px !important;
}
.headerpiece {
  font: 60px 'Source Sans Pro', 'Open Sans';
  padding: 5px 10px 5px 10px;
  color: #29c566;
  background: #202020;
  display: inline-block;
  transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  -khtml-transition: 0.15s ease-in-out;
}
.headerpiece:hover {
  color: #d0d0d0;
  background: #303030;
  transition: 0.05s ease-in-out;
  -webkit-transition: 0.05s ease-in-out;
  -moz-transition: 0.05s ease-in-out;
  -ms-transition: 0.05s ease-in-out;
  -o-transition: 0.05s ease-in-out;
  -khtml-transition: 0.05s ease-in-out;
}
.headerpiece:active {
  color: #7dcb9b;
  background: #181818;
}
